@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to cat fan-club</h1>
</div>
<div style="text-align: center;" ><img src="https://i.artfile.ru/2048x1389_660319_[www.ArtFile.ru].jpg" width="600"/> </div>