@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://img1.goodfon.com/original/3000x2000/6/df/koshka-kot-kotenok-polosatyy.jpg" width="500">
</div>


<form method="post">
    <div class="text-center">
       <button type="submit" class="btn btn-primary btn-lg btn-block">Click!</button>
    </div>
    </form>
