@model RegistrationViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="text-center">
<p class="display-3">
    Hi, @Model.Name!
</p>
<p class="display-5">
    Your email is @Model.Email
</p>
<p class="display-5">
    Don't forget your password!
</p>
</div> 
<div style="text-align: center;" ><img src="https://fullhdoboi.ru/wp-content/uploads/_ph/29/167027633.jpg" width="700"/></div> 
<form method="post">
<button class="btn btn-primary" type="submit">Log out</button>
</form>